@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background: #48423B;
}
.contenedorCentro,.contenedorChico{
    background: #5B5652;
} 

.btnTicTac{
    background: #3E3732;
    padding: 0 40px;
    font-weight: bold;
    border: 0.5px solid #aca8a8;
    font-size: 80px;
    color: #5B5652;
}